.page-header {
    background-color: var(--slds-g-color-brand-base-30, #014486);
    color: var(--slds-g-color-brand-base-100,#FFFFFF);
    padding: 10px;
    font-size: large;
}

.page-filter {
    display: flex;
    align-items: end;
    margin: 10px;
    width: 200px;
}

.page-filter-select {
    flex-grow: 3;
}

.page-empty-list {
    margin-left: 10px;
    font-weight: 700;
    font-size: medium;
}